<h2 id="translate-header">Translate a message</h2>

This is the area for the message.

<h2 id="raw-mf-creator-header">Create a message from scratch</h2>

<div id="mf-input" class="placeholder-on" contenteditable>{{#_ "maininput_placeholder"}}Type your message here.{{/_}}</div>

<div id="popup-container"></div>
