<h2>Messages</h2>

<ul class="translate-message-list">
  {{#each messages}}
  <li class="translate-message-group">
    <div class="translate-message-orig">
      {{key}} - {{message}}
    </div>
    <div class="translate-message-target">
      ???
    </div>
  </li>
  {{/each}}
</ul>
