#mf-input
  display block
  width 90%
  height auto
  margin 60px 0
  padding 10px
  font-size 42px
  line-height 52px
  border 3px solid #CCC
  box-shadow 0 0 5px #AAA

  &.placeholder-on
    color #999
