clearfix()
  *zoom 1
  &:before,
  &:after
    display table
    content ""
  &:after
    clear both

appWidth = 940px

.navbar-inner
  background-color #EFEFEF
  background-image none
  box-shadow none

.navbar .brand
  font-size 70px
  text-shadow 1px 1px 0 #FFFFFF
  color #F22B48
  font-family 'Neuton', serif

.navbar .info
  position fixed
  top 70px
  right 8px
  color #999
  text-shadow none
  font-size 9px

.navbar .nav > li.info > a
  display inline
  color #666
  text-shadow none
  padding 0
  margin 0
  font-size 9px

.navbar .nav
  float right
  margin-right 120px
  border-top none

.navbar .nav > li
  line-height 16px

.navbar .nav > li > a
  color #666
  line-height 16px
  font-size 12px
  text-shadow none
  padding 4px 6px

.navbar .nav > li > a:hover
  color #F22B48

#app-container
  display block
  height auto
  margin 120px 0

#mf-input
  display block
  width 90%
  height auto
  margin 20px 0
  padding 10px
  font-size 32px
  line-height 42px
  border 3px solid #CCC
  box-shadow 0 0 5px #EFEFEF

  &.placeholder-on
    color #999

  .accent
    color #000
    border 1px solid #CCC
    padding 4px
    margin 2px
    font-size 1.1em

.selection-popup
  border 1px #CCC solid
  padding 10px
  position absolute
  width 200px
  background-color #EFEFEF
  outline none

  .selected-header
    font-size 2.5em
    text-align center
    padding 10px 5px
    line-height 1em

    .current-selected-callout
      font-weight bold

  .message-type-header
    font-size 1.8em
    font-weight bold
    margin 10px 5px

.translate-message-list
  list-style-type none
  padding 0
  margin 0
  width appWidth

  .translate-message-group
    position relative
    clearfix()

    .translate-message-orig
      padding 10px
      border-bottom 1px solid #999
      margin-bottom 10px
      background-color #F0F0F0
      clearfix()

      .actual-message
        font-size 24px
        font-weight normal
        padding 10px 0

    .translate-message-target
      padding 10px
      border-bottom 1px solid #999

    .var-combination
      border-bottom 1px solid #EEEEEE
      padding 4px 0
      margin 4px 0

    .var-combination-translation-field
      padding 5px
      width 100%
      margin 10px 0

    .var-combination-list
      list-style-type none
      padding 0
      margin 0

.translate-options
  clearfix()
  padding 20px 0
  border-bottom 1px solid #999
  background-color #E5E5E5

.translate-options > div
  width 46%
  padding 2%
  float left

.quick-note
  font-size 10px
  color #555

dt
  margin-top 20px
  padding-bottom 10px
  font-size 20px

dd
  padding 0
  margin 0

.variable-definition-group
  padding-left 10px
  color #555

.variable-definition-group > dt
  border-top 1px solid #CCC
  padding-top 5px
  font-size 16px
  color #333

.variable-definition-group dt
  margin-top 5px
  padding-bottom 2px
  font-size 14px

.variable-definition-group dl
  margin 5px 0

.english-message-instance
  font-size 24px
  padding 10px 0

.var-values
  color #555

.ignore-link
  font-size 10px
  font-weight normal
