@import url("bootstrap.css");
.navbar-inner {
  background-color: #efefef;
  background-image: none;
  box-shadow: none;
}
.navbar .brand {
  font-size: 70px;
  text-shadow: 1px 1px 0 #fff;
  color: #f22b48;
  font-family: 'Neuton', serif;
}
.navbar .info {
  position: fixed;
  top: 70px;
  right: 8px;
  color: #999;
  text-shadow: none;
  font-size: 9px;
}
.navbar .nav > li.info > a {
  display: inline;
  color: #666;
  text-shadow: none;
  padding: 0;
  margin: 0;
  font-size: 9px;
}
.navbar .nav {
  float: right;
  margin-right: 120px;
  border-top: none;
}
.navbar .nav > li {
  line-height: 16px;
}
.navbar .nav > li > a {
  color: #666;
  line-height: 16px;
  font-size: 12px;
  text-shadow: none;
  padding: 4px 6px;
}
.navbar .nav > li > a:hover {
  color: #f22b48;
}
#app-container {
  display: block;
  height: auto;
  margin: 120px 0;
}
#mf-input {
  display: block;
  width: 90%;
  height: auto;
  margin: 20px 0;
  padding: 10px;
  font-size: 32px;
  line-height: 42px;
  border: 3px solid #ccc;
  box-shadow: 0 0 5px #efefef;
}
#mf-input.placeholder-on {
  color: #999;
}
#mf-input .accent {
  color: #000;
  border: 1px solid #ccc;
  padding: 4px;
  margin: 2px;
  font-size: 1.1em;
}
.selection-popup {
  border: 1px #ccc solid;
  padding: 10px;
  position: absolute;
  width: 200px;
  background-color: #efefef;
  outline: none;
}
.selection-popup .selected-header {
  font-size: 2.5em;
  text-align: center;
  padding: 10px 5px;
  line-height: 1em;
}
.selection-popup .selected-header .current-selected-callout {
  font-weight: bold;
}
.selection-popup .message-type-header {
  font-size: 1.8em;
  font-weight: bold;
  margin: 10px 5px;
}
.translate-message-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 940px;
}
.translate-message-list .translate-message-group {
  position: relative;
  *zoom: 1;
}
.translate-message-list .translate-message-group:before,
.translate-message-list .translate-message-group:after {
  display: table;
  content: "";
}
.translate-message-list .translate-message-group:after {
  clear: both;
}
.translate-message-list .translate-message-group .translate-message-orig {
  float: left;
  width: 449px;
  padding: 10px;
  border-right: 1px solid #333;
}
.translate-message-list .translate-message-group .translate-message-target {
  float: left;
  width: 450px;
  padding: 10px;
}
.translate-options {
  *zoom: 1;
  padding: 20px 0;
  border-bottom: 1px solid #999;
  background-color: #e5e5e5;
}
.translate-options:before,
.translate-options:after {
  display: table;
  content: "";
}
.translate-options:after {
  clear: both;
}
.translate-options > div {
  width: 46%;
  padding: 2%;
  float: left;
}
